{% extends 'base.html.twig' %}

{% block title %}Mettez Vous à Jour !{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-5 text-center">Mettez Vous à Jour !</h1>

    <div class="col-8 m-auto">
        {{ form(form) }}
    </div>
  
</div>

{% endblock %} 